section.c201022 {
   background: #000;
}

[data-date="201022"] {
   inset: 0 0 auto auto;
   --_t: 0.2s;

   width: 100%;
   height: 100%;
   background: linear-gradient(
      45deg,
      rgb(235, 231, 231),
      rgb(235, 231, 231) 50%,
      rgb(73, 181, 196) 50%
   );

   .profile {
      box-shadow: 0 0 4px -2px rgb(0 0 0 / 0.7);
      width: min(350px, 70vw);
      background: #fff;
      border-radius: 0.5vmax;
      padding-block-end: 2.5vmax;
      font-family: var(--f-poppins);
      // transition:  ease-in;
      // height: 176px;

      >img {
         width: 40%;
         margin-top: -20%;
         border-radius: 0.5vmax;
         transition: var(--_t);
         // transition-delay: 0.1s;
      }

      &-basics {
         strong {
            color: rgb(116, 116, 116);
         }
      }


      &-more {
         transform: scaleY(0);
         transform-origin: top;
         height: 0;
         transition: var(--_t) ease-out;
         overflow: hidden;



         >span {
            font-size: 0.85rem;
            color: rgb(119, 118, 118);
         }

         >.btn-bar {
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(100px, auto));
         }

         >.btn-bar span {
            border-radius: 0.4vmax;
            border: 0.5px solid rgb(0 0 0 / 0.1);
            font-weight: 600;
            color: rgb(83, 83, 83);
            transition: 0.2s ease-out;
         }

         >.btn-bar span:nth-child(2) {
            background: rgba(150, 215, 223, 0.562);
         }

         >.btn-bar span:hover {
            color: rgb(23, 23, 23);
         }

         >.btn-bar span:nth-child(2):hover {
            background: rgba(150, 215, 223, 0.762);
         }

      }

      
      &:hover > .profile-more {
         height: auto;
         transform: scaleY(1);
      }

      &:hover {
         >img {
            width: 60%;
            margin-top: -30%;
         }
      }

   }
}