$fonts: (
   sans: "Open Sans, Work Sans",
   poppins: "Poppins",
   big: "Cooper, Alfa Slab One",
   mono: "Cascadia Code, PT Mono",
   serif: "Stika",
   slab: "Abril Fatface"
);

@each $prop, $value in $fonts {
   .f-#{$prop} {
      font-family: var(--f-#{$prop});
   }
}

//weights
$weights: (
   thin: 300,
   normal: 400,
   mid: 500,
   bold: 700,
   black: 900
);

@each $prop, $value in $weights {
   .weight-#{$prop} {
      font-weight: #{$prop};
   }
}

//fontfamily
$font-sizes: (
   tiny: clamp(0.7rem, 0.7rem + 1vw, 0.9rem),
   mid: clamp(1rem, 1rem + 2vw, 1.3rem),
   s1: clamp(1.4rem, 1.4rem + 2vw, 1.7rem),
   big: clamp(3rem, 3rem + 5vw, 5rem)
);

@each $prop, $value in $font-sizes {
   .size-#{$prop} {
      font-size: var(--f-size-#{$prop});
   }
}